<!--  наследуемся от шаблона index.html -->
{% extends 'static/index_detail.html' %}
{% load custom_filters %}
{% block title %}
News - Добавить новую новость
{% endblock title %}
{% block h1 %}Добавить новую новость{% endblock h1 %}
{% block h1-description %}{% endblock h1-description %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ form }} <!-- Теперь нам нужна только готовая форма и кнопка -->
    <input class="btn btn-primary" type="submit" value="Добавить новость">
</form>
{% endblock content %}