<!--  наследуемся от шаблона index.html -->
{% extends 'static/index_detail.html' %}
{% load custom_filters %}
{% block title %}
News - Поиск новостей
{% endblock title %}
{% block h1 %}Поиск новостей{% endblock h1 %}
{% block h1-description %}{% endblock h1-description %}
{% block content %}
<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
    <input class="btn btn-primary" type="submit" value="Найти">
</form>
{% if news %}
<!-- Featured blog post-->
{% for post in filter.qs %}
<div class="card mb-4">
    <a href="#!"><img class="card-img-top" src="{{ post.postPhoto }}" alt="..." /></a>
    <div class="card-body">
        <div class="small text-muted">{{ post.dateCreation }}</div>
        <h2 class="card-title">{{ post.title|truncatewords:10|censor }}</h2>
        <p class="card-text">{{ post.text|truncatechars:250|censor }}</p>
        <a class="btn btn-primary" href="{% url 'post' post.id %}">Читать →</a>
        <a class="btn btn-primary" href="{% url 'news_create' post.id %}">Редактировать →</a>
        <a class="btn btn-primary" href="{% url 'news_delete' post.id %}">Удалить →</a>
    </div>
</div>

{% endfor %}
{% else %}
Новостей нет
{% endif %}
<!-- Pagination-->
<!-- Проверяем что поддерживается постраничный вывод -->
{% if is_paginated %}
<nav aria-label="Pagination">
    <hr class="my-0" />
    <ul class="pagination justify-content-center my-4">
         <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">Newer</a></li>
        <li class="page-item" aria-current="page"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><<<</a></li>
        {% endif %}
        <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <li class="page-item active" aria-current="page"><a class="page-link">{{ num }}</a></li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' or num != page_obj.number|add:'-3' %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}
        <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">>>></a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Older</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock content %}